# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Front-End/node_modules
/.pnp
Front-End/.pnp.js

# testing
Front-End/coverage

# production
Front-End/build

# misc
Front-End/.DS_Store
Front-End/.env.local
Front-End/.env.development.local
Front-End/.env.test.local
Front-End/.env.production.local

Front-End/npm-debug.log*
Front-End/yarn-debug.log*
Front-End/yarn-error.log*
