body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

._h_navbar {
    position: fixed;
    top: 0;
    padding-top: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}

._h_navbar:hover {
    cursor: pointer;
}

.h_logo {
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.mid_item > a {
    margin-left: 20px;
}

.h_logo > img {
    width: 100px;
    height: 60px;
}

.last_item > a:hover {
    box-shadow: 0px 2px 2px rgb(67, 103, 0);
}

._h_navbar > div > a {
    padding: 5px;
    border: none;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

/* ._h_navbar a:nth-child(5) {
} */

.last_item {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.last_item > a {
    color: white !important;
}

._h_login {
    height: 100%;
    width: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background: #04aa6d;
    padding: 5px;
    color: white;
}

._h_register {
    height: 100%;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    background: #04aa6d;
    padding: 5px;
    color: white;
}

._h_cont {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.row > div {
}

.col-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-right {
}

._h_info {
    margin: 0px 40px;
    padding: 20px;
}

.home_card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(32, 31, 31, 0.19);
}

.home_card:hover {
    cursor: pointer;
    box-shadow: 3px 4px 8px 0 rgba(78, 77, 77, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

._tag_line > ul {
    display: flex;
    justify-content: flex-start;
}
._p_name {
    margin: 20px 20px;
}

.tag_line_list > li {
    margin: 0px 20px;
}

.home_gifs {
    height: 100px;
    width: 100px;
}

._featers {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
