._seller_container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px #888888;
  overflow: hidden;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}

._seller_container > div {
  display: flex;
  justify-content: space-evenly;
}
._seller_container > button {
  width: 140px;
  align-self: center;
  border: none;
  font-style: bold;
  background-color: #bce4ff;
  border-radius: 10px;
}

._seller_container:hover {
  transform: scale(1.02);
  box-shadow: 0px 1px 3px #05578d;
}

#no_seller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
