.card_1{
    display: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 250px;
    height: 120px;
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding : 5px;
    margin: 20px;
    border-radius: 15px;
    
  }

  .col-3
  {
      margin-left: 110px;
  }

  .wrapper-key{
    max-width: 1300px;
    width: 1200px;
    background-color: #fff;
    padding: 50px 30px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 5px;
    height: 270px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .wrapper-transcation
  {
    max-width: 1300px;
    width: 1200px;
    height: 330px;
    background-color: #fff;
    padding: 50px 30px;
    margin-top: 50px;
    margin-left: 250px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }

  .bg-custom-11{
    background-color: rgb(112, 230, 151)!important;
  }


  
  .bg-custom-22{
    background-color: rgb(216, 112, 230)!important;
  }

  .bg-custom-33{
    background-color: rgb(236, 103, 196)!important;
  }

 
/*span{
  position:absolute;
  margin-top: -100px;
  margin-left: 650px;
  transform: translate(0,-50%);
  top: 50%;
  cursor: pointer;
}
.span_1{
  position:absolute;
  margin-top: -100px;
  margin-right: 950px;
  transform: translate(0,-50%);
  top: 50%;
  cursor: pointer;
}*/

.fa
{
  font-size: 20px;
  color:black;
}

.l1
{
  border: black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border-radius: 5px;
  margin-top: 30px;
}

td{
  width: 300px;
  text-align: center;
  border: 5px solid black;
  padding: 10px;
  height: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
tr{
 border: black;
}
table{
  border-collapse: separate;
  border-spacing: 20px 0;
  border: black;
  
}