.col-lg-8 .box
{   
   
    width:300px;
    height:30px;
   margin-left: 400px;
   margin-top: -0.98rem !important;
  
    border:1px solid black;
   background: transparent 

}


.col-lg-3 .box
{
    width:200px;
    height: 200px;
    border:1px solid black;
    background: transparent ;
    margin-top: 0px;
  
  background-color:  rgb(114, 250, 121); 
  margin-left: 20px;
 
}
.col-lg-3
{
    height: 650px;
    margin-left: 100px;
}

.col-lg-8
{
    height:200px;
    
}
#k1
{
    font-weight: bold;

}
.p1
{
    padding-left: 50px;
    color: rgb(106, 26, 182);
}

/*#h1
{
  font-style: normal;
}*/

/*#tags
{
    color:black;
    margin-left: 570px ;
    margin-top: -300px;
    font-weight: bold;
}*/

#alignment
{
    margin-left: 60px ;
    border:1px solid black;
    border-collapse: collapse;
    width: 500px;
    font-style: normal;
 
   
}


.head .nav-text
{
  font-style: normal;
}

.head
{
  margin-top: -400px;
  margin-left: 600px;
}

.card{
    display: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 300px;
    height: 100px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding : 5px;
    margin: 20px;
    
  }

  .bg-custom-1{
    background-color: rgb(112, 230, 151)!important;
  }

  .bg-custom-2{
    background-color: rgb(216, 112, 230)!important;
  }

  .bg-custom-3{
    background-color: rgb(236, 103, 196)!important;
  }

  .custom-1{
    
    width: 700px;
    height: 200px;
    text-align: left;
    display: inline-flex;
    align-items: left;

    
  }

  .nav-text{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    padding : 5px;
    margin: 20px;
    font-size: large;
    
  }

  .custom-2{
    
    width: 960px;
    height: 400px;
    text-align: left;
    display: inline-flex;
    align-items: left;

    
  }

  .icon {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }


  #l2
  {
    margin-left: 280px;
  }

  .btn1
  {
    margin-left: 100px;
    margin-top:-50px;
    background-color: rgb(114, 250, 121); 
    height: 50px;
    width: 150px;
    
  }

  .head .box{

    width:700px;
    height: 180px;
    border:1px solid black;
    background: transparent ;
    margin-bottom: 100px;
    margin-left: 10px;

  }

  
  .align
  {
      margin-left: 650px;
      border:1px solid black;
      border-collapse: collapse;
      width: 700px;
   
  }


  .nav-text3
  {
    font-size: x-large;
    font-style: normal;
  }

  .wrapper-transcation1
  {
    
    width: 800px;
    height: 330px;
    background-color: #fff;
    
    margin-top: -400px;
    margin-left:-190px;
    margin-right: 200px;
    border-radius: 5px;
    margin-bottom: -500px;
    
  }

  .tab1
  {
    margin-left: 650px;
    width:500px;
    
 
  }

  .col-lg-8
  {
    height: 650px;
  }

  .adjust1
  {

    margin-left: 550px;
    margin-top:-35px;
  }


  
  .wrapper nav {
    width: 100%;
    margin: 0 auto;
  }
  
  .logo {
    width: 50%;
  }
  
  .sign-out-wrapper {
    margin-right: 1em;
  }
  
  .sign-out {
    color: black;
    outline: none;
    text-decoration: none;
    transition: all 0.1s;
  }
  
  .sign-out:focus,
  .sign-out:hover,
  .sign-out:active {
    color: black;
    background-color: rgb(49, 22, 202);
    text-decoration: none;
  }
  
  .sign-out > span {
    margin: 0.5em;
  }